 
@import url(“https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap”);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: “Poppins”, sans-serif;
}
:root {
    --main-color: #00abf0;
    --bg-color: #081b29;
    --secondary-bg-color:#112e42;
    --text-color: #ededed;}
section {
    padding: 50px 10%;
}
body.active {
    --text-color: #fff;
    --bg-color: #0f0c27;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
*::selection {
    color: var(--bg-color);
    background: var(--main-color);
}
.heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.heading h2 {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.heading span {
    font-size:3rem;
    color: var(--main-color);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 13px 10%;
    transition: 0.2s;
}
header.shadow {
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
.logo {
    font-size: 1.61rem;
    font-weight: 600;
    color: var(--text-color);
}
.logo span {
    font-size: 1.61rem;
    font-weight: 600;
    color: crimson;
}
.navbar {
    display: flex;
}
.navbar a{
    font-size: 1.1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a:hover {
    color: var(--hover);
}
#menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
#darkmode {

    font-size: 1.4rem;
    cursor: pointer;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
}
.home-img {
    order: 3;
}
.home-img img {
    width: 400px;
    height: 400px;
}
.home-text span {
    font-size: var(--medium-font);
    font-weight: 500;
}
.home-text h1 {
    font-size: 3rem;
}
.home-text p {
    font-size: 1rem;
    font-weight: 400;
    margin: 2rem 0 4rem;
}
.home-text .text-animate{
    position: relative;
    width: 32.8rem;
}
.home-text .text-animate h2{
    font-size: 2.3rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke:.7px var(--main-color);
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .btn{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:90px;
    height: 40px;
    background: var(--main-color);
    border:.2rem solid var(--main-color) ;
    border-radius: .8rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}
.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover{
    color: var(--main-color);
}
.btn-box .btn:hover::before{
    width: 100%;
}

.social {
    position:relative;
    width: 170px;
    display: flex;
    justify-content:space-between;
}
.social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color:var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.social a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--main-color);
    z-index: -1;
    transition: .5s;

}
.social a:hover::before{
    width: 100%;
}
.social a:hover {
    color: var(--bg-color);
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--secondary-bg-color);
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-img img{
    width: 60%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 65%;
    height: 65%;
    border-radius: 50%;
    border-top: .2rem solid var(--secondary-bg-color);
    border-bottom: .2rem solid var(--secondary-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}
.about-text {
 text-align: center;
}
.about-text h3{
    font-size: 2rem;
}
.about-text p {
    font-size:1rem;
    margin: 2rem 0 3rem;
}
.btn-boxbtns{
    position: relative;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    align-content: center;
    padding-left: 45%;
}
.btn-boxbtns .btn{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:90px;
    height: 40px;
    background: var(--main-color);
    border:.2rem solid var(--main-color) ;
    border-radius: .8rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}
.btn-boxbtns .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-boxbtns .btn:hover{
    color: var(--main-color);
}
.btn-boxbtns .btn:hover::before{
    width: 100%;
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
.education{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
    border-left: .2rem solid var(--main-color);
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content:'';
    position: absolute;
    top: 0;
    left: -0.9rem;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--main-color);
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--secondary-bg-color);
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before{
    width: 100%;
}
.education-content .content .year{
    font-size: 0.9rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 1.2rem;
}
.education-content .content p{
    font-size: 1rem;
    padding-top: .5rem;
}
.skills-img img {
    width: 80%;
    padding-left: 4rem;
    object-position: center;
}
.bars-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.bars-box h3,
span {
    font-size: 1.1rem;
    font-weight: 500;
}
.light-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: hsla(260, 100%, 44%, 0.4);
    border-radius: 0.5rem;
}
.percent-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    background: var(--main-color);
    border-radius: 0.5rem;
}
.html-bar {
    width: 94%;
}
.css-bar {
    width: 90%;
}
.js-bar {
    width: 80%;
}
.react-bar {
    width: 75%;
}
.bs-bar{
    width:85%;
}
.ag-bar{
    width:70% ;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    margin-top: 2rem;
}
.services-box {
    padding: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}
.services-box:hover {
    background-color: #02225a;
}
.services-box h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
}
.services-box:hover h3 {
    color: #fff;
}
.services-box .bx {
    padding-top: 2rem;
    font-size: 54px;
    color: var(--main-color);
}
.services-box:hover .bx {
    color: #22cf91;
}
.services-box a {
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
}
.services-box:hover a {
    color: #8b8a8f;
}
.contact-form {
    display: grid;
    place-items: center;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    width: 650px;
}
form, input,
textarea {
    padding: 15px;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: hsla(260, 100%, 44%, 0.1);
    margin-bottom: 1rem;
    color: var(--text-color);
}
form input::placeholder,
textarea::placeholder {
    color: var(--text-color);
}
form textarea {
    resize: none;
    height: 200px;
}
.contact-button {
    width: 160px;
    cursor: pointer;
    background: #2768d9;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 35%;
}
.contact-button:hover {
    background: var(--hover);
}
.footer {
    display: grid;
    place-items: center;
    padding: 20px;
    color: #000;
}
.footer h2 {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
    color: var(--text-color)
}
.footer-social a i {
    color: var(--main-color);
    font-size: 1.5rem;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.copyright {
    padding: 20px;
    background: var(--main-color);
    text-align: center;
    color: #fff;
}
.copyright a {
    color: #22cf91;
}
/* For Mobile */
@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
}
@media (max-width: 881px) {
    :root {
        --big-font: 2.7rem;
        --medium-font: 1.4rem;
    }
}
@media (max-width: 768px) {
    :root {
        --big-font: 2.4rem;
        --medium-font: 1.2rem;
    }
    header {
        padding: 11px 4%;
    }
    #menu-icon {
        display: initial;
        color: var(--text-color);
    }
    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 0 4px 4px rgb(0 0 0 / 100%);
        transition: 0.2s ease;
        text-align: center;
    }
    .navbar.active {
        top: 100%;
    }
    .navbar a {
        padding: 1.5rem;
        display: block;
        background: var(--bg-color);
    }
    #darkmode {
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }
    .scroll-down {
        display: none;
    }
    .home {
        grid-template-columns: 0.5fr 3fr;
    }
    .home-text {
        grid-column: 1/3;
        padding: 1.4rem;
    }
    .home-img {
        order: initial;
    }
    .about-container {
        grid-template-columns: 1fr;
    }
    .about-img {
        display: flex;
        justify-content: center;
    }
    .skills-container {
        grid-template-columns: 1fr;
    }
    .skills-img img {
        padding-left: 0;
    }
    .skills-img {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }
    .contact-form form {
        width: 300px;
    }
    .contact-button {
        margin-left: 25%;
    }
}
@media (max-width: 340px) {
    :root {
        --big-font: 1.7rem;
        --medium-font: 1.1rem;
    }
    .home-text span {
        font-size: 1rem;
    }
    .home-text h2 {
        font-size: 0.9rem;
        font-weight: 500;
    }
    .information .info-box span {
        font-size: 1rem;
    }
    .contact-form form {
        width: 250px;
    }
    .contact-button {
        margin-left: 25%;
    }
}
